
/*==========================*/
/* legal */
/*==========================*/

.legal_block {
    position: fixed;
    display: inline-block;
    top: 2000px;
    left: 0px;
    width: 100%;
    height:auto;

    pointer-events:none;
    line-height: 130%;
    font-family: Arial;
    font-size: 10px;
    color: #d8d9db;
    text-align:center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 90;
    -ms-transform-origin: 0% 100%; /* IE 9 */
    -webkit-transform-origin: 0% 100%; /* Chrome, Safari, Opera */
    transform-origin: 0% 100%;

}
.legal_block a:link {
    text-decoration: none;
    color: #d8d9db;
}

.legal_block a:visited {
    text-decoration: none;
    color: #d8d9db;
}

.legal_block a:active {
    text-decoration: none;
    color: #d8d9db;
}

.legal_button_holder{
    position: relative;
    display: inline-block;
	margin-top:3px;
    width: 100%;
    height: auto;
    text-align: left;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2), -2px 2px 2px rgba(0, 0, 0, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.2);

}
/*
.b_legal,.c_legal {
    position: relative;
    display: inline-block;
    padding: 8px;
    pointer-events:auto;
    cursor:pointer;
    text-align: center;
    text-decoration: none !important;

    color: #d8d9db;
    margin-right: 4px;
    margin-left: 4px;
    font-family: 'MontBold';
    font-size: 12px;
	width:auto;
	word-wrap:break-word;
		overflow-wrap:break-word;
		white-space: normal;
}
.c_legal {
	padding:2px;
	margin-right:2px;
	margin-left:2px;
}

.b_legal,.c_legal a:link {
    text-decoration: none;
}

.b_legal.c_legal a:visited {
    text-decoration: none;
}

.b_legal,.c_legal a:active {
    text-decoration: none;
    color: #d8d9db;
}
*/



